<!-- ELIMINAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="/css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <h2>Borrar curso</h2>

      <!-- FORMULARIO DEL DELETE -->

      <form action="/products/<%= curso.id %>?_method=DELETE" method="POST">
 

        <!-- NOMBRE DEL CURSO -->

        <div>
            <label>Nombre del curso:</label>
            <input type="text" name="title" value="<%= curso.title %>">
       </div>


        <!-- DESCRIPCION -->

      <div>
          <label>Descripcion:</label>
          <input type="text" name="parrafo" value="<%= curso.parrafo %>">
      </div>  


        <!-- PRECIO -->
        
      <div>
          <label>Precio:</label>
          <input type="text" name="price" value="<%= curso.price %>">
      </div>


        <!-- IMAGEN -->

       <div>
            <label>Imagen:</label>
            <input type="file" name="image">
        </div>

        <button type="submit">Borrar</button>
          
      </form>


      
    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>-->