<!-- FORMULARIO DE DELETE DEL REGISTRO -->

<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <link href="/css/formularios.css" rel="stylesheet">
    
</head>


<body>

    <header>

        <%- include('../partials/header.ejs') %>

    </header>



    <main>

        <!-- FORMULARIO DE REGISTRO -->
        <form action="/user/<%= usuario.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
            <!-- <form action="/" method="GET"> -->

            <h2>Editar cuenta</h2>

            <!-- IMAGEN -->
            <div>
                <label class="etiqueta">Imagen: </label>
                <input type = "file" name="image" value="<%= usuario.image %>" required class="campo-de-texto">
                <span class="feedback"></span> <!-- para alertar errores -->
            </div>

            <!-- NOMBRE -->
            <div>
                <label class="etiqueta">Nombre: </label>
                <input type = "text" name="name" value="<%= usuario.name %>" placeholder="Ingresa tu nombre" required class="campo-de-texto">
                <span class="feedback"></span> <!-- para alertar errores -->
            </div>

             <!-- APELLIDOS -->
             <div>
                <label class="etiqueta">Apellidos: </label>
                <input type = "text" name="surname" placeholder="Ingresa tus apellidos" value="<%= usuario.surname %>"required class="campo-de-texto">
                <span class="feedback"></span> <!-- para alertar errores -->
            </div>

            <!-- EMAIL -->
            <div>
                <label class="etiqueta">Email: </label>
                <input type = "email" name="email"  placeholder="usuario@abc.com" value="<%= usuario.email %>" required class="campo-de-texto">
                <span class="feedback"></span> <!-- para alertar errores -->
            </div>

            <!-- CONTRASEÑA -->
            <div>
                <label class="password"> Contraseña: </label>
                <input type = "password" name = "password" value="<%= usuario.password %>" required class="campo-de-texto">
                <span class="feedback"></span> 
            </div>

            <!-- BOTON BORRAR -->
            <button type="submit">Borrar</button>
            
            <!-- <button type="submit" value="Enviar" name="submit">Enviar</button> -->
        
        </form>

    </main>

    <footer>

        <%- include('../partials/footer.ejs') %>     
   
    </footer>
</body>
</html>