<!-- DETALLE DEL USUARIO -->
<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <link href="/css/userDetail.css" rel="stylesheet">

</head>
<body>

    <header>

        <%- include('../partials/header.ejs') %>
    
    </header>


<!-- MAIN -->

    <main>
                <!-- DESCRIPCIÓN DETALLADA DEL USUARIO -->

                <h2> USUARIOS </h2> 

                <div class = "contenedor">

                <article class = "campos-usuario">
                    <div class="campos">
                        <div class="separador">
                            <h3 class = ""><%= usuarios.name %></h3>
                        </div>
                        <div class="separador">
                            <h3 class = ""><%= usuarios.surname %></h3>
                        </div>
                        <div class="separador">
                            <p><%= usuarios.email %></p> 
                        </div>
                        <div class="separador">
                        <img src="/img/users/<%= usuarios.image %>">
                        </div>
                    </div>
                </article>

                
            </div>
            </section>

            <div class = "botones-del-form">

            <!-- REDIRIGUE A CONTACTO -->
            <form action="/" method="POST">
                <label for="Estoy interesado">
                    <a href="/inscription"><input type="submit" class="botonesForm" value="Estoy interesado"></a>
                </label>
            </form>

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA CONOCIMIENTO DEL EXCEL -->

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA INSCRIBIRSE A LOS CURSOS (INSCRIPCION) -->
            <form action="/Inscripcion" method="POST">
                <label for="Inscripción">
                        <a href="/inscription">
                            <input type="submit" class="botonesForm" value="Inscripción">
                        </a>
                </label>
            </form> 
            
            </div>
    </main>
    
    <!-- /MAIN -->
    
    <footer>

        <%- include('../partials/footer.ejs') %>
    
    </footer>
</body>
</html>