<!-- DETALLE DEL USUARIO -->
<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <link href="../css/productDetail.css" rel="stylesheet">

</head>
<body>

    <header>

        <%- include('../partials/header.ejs') %>
    
    </header>


<!-- MAIN -->

    <main>

        <h2>RUTA DE APRENDIZAJE</h2> <!-- RUTA -->


                <!-- DESCRIPCIÓN DETALLADA DEL USUARIO -->

                <h2> USUARIOS </h2> 

                <div class = "">

                <article class = "">
                    <div class="">
                        <h3 class = ""><%= usuarios.name %></h3>
                        <h3 class = ""><%= usuarios.surname %></h3>
                    </div>
                    <div class = "">
                        <p><%= usuarios.email %></p> 
                    </div>
                    
                    <div class = "">
                        <img src="/img/users/<%= usuarios.image %>">
                    </div>
                </article>

                
            </div>
            </section>

            <div class = "botones-del-form">

            <!-- REDIRIGUE A CONTACTO -->
            <form action="/" method="POST">
                <label for="Estoy interesado">
                    <a href="/inscription"><input type="submit" value="Estoy interesado"></a>
                </label>
            </form>

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA CONOCIMIENTO DEL EXCEL -->

            <!--
            <form action="" method="POST">
                <label for="Quiero saber si estos cursos son para mi">
                    <input type="submit" value="Quiero saber si estos cursos son para mi">
                </label>
            </form>
            -->

            <!-- REDIRIGUE A LLENAR FORMULARIO PARA INSCRIBIRSE A LOS CURSOS (INSCRIPCION) -->
            <form action="/Inscripcion" method="POST">
                <label for="Inscripción">
                    <a href="/inscription"><input type="submit" value="Inscripción"></a>
                </label>
            </form> 
            
            </div>
    </main>
    
    <!-- /MAIN -->
    
    <footer>

        <%- include('../partials/footer.ejs') %>
    
    </footer>
</body>
</html>