<!-- DETALLE DEL USUARIO -->
<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head.ejs') %>

    <link href="../css/userList.css" rel="stylesheet">

</head>
<body>

    <header>

        <%- include('../partials/header.ejs') %>
    
    </header>


<!-- MAIN -->

    <main>

        <h2>USUARIOS REGISTRADOS ACTUALMENTE:</h2>
        
        <!--recorre el usuario con for(){}-->
        <% for (let i=0; i<longitud; i++){ %>
            <article class = "contenedor">
                
                <div class = "imagen-cursos">
                    <img src="/img/users/<%= usuarios[i].image %>" alt="usuarios-img" width="50%">
                </div>

                <div class="nombre-apellido">
                    <div class="nombre">
                        <h3 class = "">Nombre: <%= usuarios[i].name %></h3><br>
                    </div>
                
                    <div class = "apellido">
                        <h3> Apellido: <%= usuarios[i].surname %></h3><br> 
                    </div>
                </div>

                <div class="email">
                    <h3 class = "">Correo: <%= usuarios[i].email %></h3><br>
                </div>

                <% if(locals.userLogged && locals.isAdmin) { %>
                    <div class="detalleUsuario"><a href="/user/detail/<%= usuarios[i].id %>"><br>      
                        Detalle de usuario     
                    </a></div>
                <% } %>

                <% if(locals.userLogged && locals.isAdmin) { %>
                    <div class="detalleUsuario"><a href="/user/<%= usuarios[i].id %>/edit"><br>      
                        Editar usuario     
                    </a></div>
                <% } %>

                <% if(locals.userLogged && locals.isAdmin) { %>
                    <div class="detalleUsuario"><a href="/user/<%= usuarios[i].id %>/delete"><br>      
                        Borrar usuario    
                    </a></div>
                <% } %>

            </article>

        <% } %>
          
    </main>
    
    <!-- /MAIN -->
    
    <footer>
        <%- include('../partials/footer.ejs') %>   
    </footer>
</body>
</html>