<!-- CREAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <!-- atomización de la vista del header -->

      <%- include('../partials/header.ejs') %> <!-- recibe la ruta del archivo a incluir -->

    </header>

    <main>

      <h2>Crear productos</h2>

      <!-- FORMULARIO DEL CREATE PRODUCTS -->

      <form action="/productDetail" method="POST">

        <label>Nombre del curso:</label>
        <input type = "text" name="name" value="<%= title %>">

        <label>Descripcion:</label>
        <input type="text" name="parrafo" value="<%= parrafo %>">

        <label>Imagen:</label>
        <input type="file" name="image" value="<%= image %>">

        <label>Numero:</label>
        <input type="text" name="number" value="<%= number %>">

        <label>:Precio</label>
        <input type="text" name="price" value="<%= precio %>">

        <button type="submit">Crear Curso</button>

      </form>
   
    </main>

  <footer>

     <!-- atomización de la vista del footer -->

    <%- include('../partials/footer.ejs') %> <!-- recibe la ruta del archivo a incluir -->
    
  </footer>
</body>
</html>
        
        