<!-- ELIMINAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <h2>Borrar curso</h2>

      <!-- FORMULARIO DEL DELETE -->

      <form action="/products/<%= curso.id %>?_method=DELETE" method="POST">
 
        <label>Nombre del curso: <%= curso.title %> </label><br><br>

        <label>Descripcion: <%= curso.parrafo %> </label><br><br>

        <label>Precio:  <%= curso.price %></label><br><br>
        
        <img src="/img/courses/<%= curso.image %>" alt="cursos-img" width="50%"><br><br>

        <button type="submit">Borrar</button>
          
      </form>

    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>-->