<!-- EDITAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>

  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <h2>Editar curso</h2>

      <!-- FORMULARIO DEL EDIT -->

      <form action="/products/<%= curso.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
 
        <label>Nombre del curso:</label>
        <input type="text" name="title" value="<%= curso.title %>" required> 

        <label>Descripcion:</label>
        <input type="text" name="parrafo" value="<%= curso.parrafo %>" required>
        
        <label>Imagen:</label>
        <input type="file" name="image">

        <label>Precio:</label>
        <input type="text" name="price" value="<%= curso.price %>" required>

        <button type="submit">Editar</button>
          
      </form>
      
    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>
        
        