<!-- EDITAR PRODUCTOS -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>
  <link href="css/formularios.css" rel="stylesheet">

</head>


<body>

    <header>

      <%- include('../partials/header.ejs') %>

    </header>

    <main>

      <h2>Editar curso</h2>

      <!-- FORMULARIO DEL EDIT -->

      <form action="/products/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
 
        <label>Nombre del curso:</label>
        <textarea type = "text" name="name" > <%= title %> </textarea>

        <label>Descripcion:</label>
        <textarea type="text" name="description"> <%= parrafo %> </textarea>
        
          <!--<label>Imagen:</label>
              <input type="file" name="image" value= -->

        <label>Numero:</label>
        <input type="number" name="number" value=<%= number %>>

        <label>Precio:</label>
        <input type="number" name="price" value=<%= price %>>

        <button type="submit">Editar</button>
          
      </form>

      <h2>Borrar curso</h2>

      <!-- FORMULARIO DEL DELETE -->

      <form action="/:id/edit?_method=DELETE" method="POST" enctype="multipart/form-data">
 
        <label>Nombre del curso:</label>
        <textarea type = "text" name="name" > <%= title %> </textarea>

        <label>Descripcion:</label>
        <textarea type="text" name="description"> <%= parrafo %> </textarea>
        
          <!--<label>Imagen:</label>
              <input type="file" name="image" value= -->

        <label>Numero:</label>
        <input type="number" name="number" value=<%= number %>>

        <label>Precio:</label>
        <input type="number" name="price" value=<%= price %>>

        <button type="submit">Eliminar</button>
        
      </form>
   
    </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
    
  </footer>
</body>
</html>
        
        