<!-- DETALLE DEL PRODUCTO -->
<!DOCTYPE html>
<html lang="en">
<head>


    <%- include('../partials/head.ejs') %>

    
    <link href="/css/productDetail.css" rel="stylesheet">

</head>

<body>

    <header>

        <%- include('../partials/header.ejs') %>
    
    </header>


<!-- MAIN -->

    <main>

        <h2>RUTA DE APRENDIZAJE</h2> <!-- RUTA -->

        <!--recorre el producto con for(){}-->
        <% for (let i=0; i<longitud; i++){ %>

            <article class = "curso">
                <div class="numero-y-titulo">
                    <h3 class = "numero"><%= products[i].number %></h3> 
                    <h3 class = "titulo"><%= products[i].title %></h3>
                </div>
                <div class = "llevar-al-carrito"><a href="/products/<%= products[i].id %>/edit"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                <div class = "descripcion">
                    <p><%= products[i].parrafo %></p> 
                </div>
                <div class = "precio">
                    <p> $ <%= products[i].price %></p> 
                </div>
                <div class = "imagen-cursos">
                    <img src="/img/courses/<%= products[i].image %>" alt="cursos-img" width="50%">
                </div>
            </article>

        <% } %>
          
    </main>
    
    <!-- /MAIN -->
    
    <footer>

        <%- include('../partials/footer.ejs') %>
    
    </footer>
</body>
</html>